.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

/* DatasTable.css */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  text-align: left;
  background-color: #8884D8;
  color: white;
}

.pagination-button {
  background-color: #8884D8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #cccccc;
  color: #666666;
}